/* SHARED STYLING RULES */

html {
  font-size: 18px; /* spec */
  font-family: "Helvetica", sans-serif;
}

/* All content will be in flex containers that are 960px wide and centred
on the page. */
.container {
  display: flex;
  width: 960px; /* spec */
  margin: 0 auto;
}

span {
  color: white;
  font-size: 1rem; /* spec */
}

/* HEADER */

header {
  width: 100%;
  background-color: black;
}

header .container {
  padding: 0.66rem 0; /* spec */
  align-items: center;
}

header img {
  height: 1.5rem; /* spec */
  margin-left: 0.5rem; /* spec */
  margin-right: 1rem; /* spec */
}

/* BANNER */

.banner {
  width: 100%;
  height: 25rem; /* spec */
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-arrival {
  display: flex;
  flex-direction: column;
  width: 20rem; /* spec */
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem; /* spec */
  margin-top: 9rem; /* spec */
}

.headline {
  font-size: 2rem; /* spec */
  margin-top: 0.25rem; /* spec */
}

/* NAVIGATION */

nav {
  width: 100%;
  background-color: firebrick;
}

nav .container {
  justify-content: space-between;
  padding: 0.75rem 0; /* spec */
}

/* PRODUCT GRID */

.product-grid .container {
  justify-content: space-between;
  margin-top: 3rem; /* spec */
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 4px solid black; /* spec */
  width: 30%; /* spec */
}

.product img {
  height: 9rem; /* spec */
  padding: 2rem 0; /* spec */
}

.product p {
  background-color: black;
  color: white;
  padding: 0.5rem 0; /* spec */
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.glasses img { /* because the glasses image is half the height of the others. */
  max-width: 9rem;
  height: 4.5rem;
  margin-top: 2rem;
}

/* LOCATION AND HOURS */

.location-hours .container {
  justify-content: space-between;
  margin-top: 3rem; /* spec */
}

.info {
  width: 35%; /* spec */
}

.label {
  background-color: black;
  color: white;
  padding: 1rem 2rem; /* spec */
  margin-bottom: 0.3rem; /* spec */
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
}

footer .container {
  align-items: center;
  margin-top: 4rem; /* spec */
  height: 11rem; /* spec says 5rem, but Slack moderators confirmed it is 11rem */
}

/* MEDIA QUERIES */

/* If screen is wide, hide the shortened menu, show the full menu */
@media only screen and (min-width: 1024px) {

  .small-menu {
    display: none;
  }
}

/* If screen is tablet size... */
@media only screen and (max-width: 1024px) {

  /* make all the content containers adapt to the screen width, rather than
  be fixed at 960px */
  .container {
    width: 100%;
  }

  /* don't show the glasses product when in tablet mode */
  .glasses {
    display: none;
  }

  /* make the two remaining products wider on the page */
  .product {
    width: 47%;
  }

  .new-arrival {
    font-size: 0.9rem;
  }

  .headline {
    font-size: 1.5rem;
  }

  /* hide the full menu items */
  nav span {
    display: none;
  }

  /* show the shortened menu */
  .small-menu {
    display: inline;
  }

  /* centre the shortened menu */
  nav .container {
    justify-content: center;
  }
}

/* If screen is phone size... */
@media only screen and (max-width: 470px) {

  /* make all the content containers adapt to the screen width, rather than
  be fixed at 960px */
  .container {
    width: 100%;
  }

  .banner {
    height: 15rem;
  }

  /* move the 'new arrival' portion of the banner move to the bottom of it. */
  .banner .container {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* make the 'new arrival' portion the full width of the screen */
  .new-arrival {
    padding: 1rem 0 1rem 0;
    width: 100%;
  }

  .new-arrival span {
    margin-left: 2rem;
  }

  .announcement {
    font-size: 0.77rem;
  }

  .headline {
    font-size: 1rem;
  }

  /* centre the product */
  .product-grid .container {
    justify-content: center;
  }

  /* hide the watch product, so there is only one product on screen */
  .watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  /* stack the location and hours on top of each other, rather than
  next to each other. */
  .location-hours .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .info {
    width: 90%;
  }

  .hours {
    margin-top: 0.5rem;
  }

  /* centre the copyright */
  footer .container {
    justify-content: center;
    width: 100%;
  }
}
